# torch==1.10.1
# torchvision==0.11.2
https://download.pytorch.org/whl/cpu/torch-1.9.1-cp38-none-macosx_11_0_arm64.whl
https://download.pytorch.org/whl/torchvision-0.11.2-cp38-cp38-macosx_11_0_arm64.whl

#These other packages can be found on PyPi
streamlit==1.4.0
boto3==1.20.37
Pillow==9.0.0
pandas==1.3.5
tqdm==4.62.3