# Need to get the CPU version of torch packages from here:
# These are needed because the deployed app doesn't have much room for the full version
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cpu
torchvision==0.8.2+cpu

#These other packages can be found on PyPi
streamlit==0.77.0
boto3==1.17.3
Pillow==8.1.0
pandas==1.1.3
